@using InvoicesManagerWebApp.Data.Enum;
@using InvoicesManagerWebApp.ViewModel;
@model EditInvoiceViewModel

@{
    ViewData["Title"] = "Edit";
    var i = 0;
}

<style>
    .form-horizontal {
        display: flex;
        justify-content: space-between;
    }

    .form-vertical {
        display: block; /* Ustawiamy z powrotem na domyślne układanie pionowe */
    }
</style>

<h1>Edit</h1>

<h4>Invoice @Model.InvoiceCode   </h4>
<hr />
<div class="row">
    <form class="form-horizontal" asp-action="Edit">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="InvoiceCode" />
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="InvoiceCode" />
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" asp-items="@Html.GetEnumSelectList<PaymentMethod>()" class="form-control"></select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" asp-items="@Html.GetEnumSelectList<Currency>()" class="form-control"></select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div id="itemsContainer">
                @foreach (var item in Model.Items)
                {
                    <div class="item-group row">
                        <input type="hidden" asp-for="@item.Id" name="Items[@(i)].Id" />
                        <input type="hidden" asp-for="@item.InvoiceId" name="Items[@(i)].InvoiceId" />
                        <div class="form-group col-md-3">
                            <label for="Items[@(i)].Name" class="control-label">Product Name</label>
                            <input asp-for="@item.Name" name="Items[@(i)].Name" class="form-control" />
                            <span asp-validation-for="Items" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Items[@(i)].Price" class="control-label">Product Price</label>
                            <input asp-for="@item.Price" name="Items[@(i)].Price" class="form-control" />
                            <span asp-validation-for="Items" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Items[@(i)].Quantity" class="control-label">QTY</label>
                            <input asp-for="@item.Quantity" name="Items[@(i)].Quantity" class="form-control" />
                            <span asp-validation-for="Items" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Items[@(i)].Vat" class="control-label">VAT (%)</label>
                            <input asp-for="@item.Vat" name="Items[@(i)].Vat" class="form-control" />
                            <span asp-validation-for="Items" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md" style="margin-top: 23px">
                            <button type="button" class="btn btn-danger" onclick="removeItem(this)">X</button>
                        </div>
                    </div>
                    i++;
                }
            </div>
            <button type="button" class="btn btn-success" style="margin-top: 10px" onclick="addNewItem()">Add new product</button>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6" style="margin-top: -38px; margin-left: 10px">
            <h4>Customer information</h4>
            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.TaxId" class="control-label"></label>
                <input asp-for="Customer.TaxId" class="form-control" />
                <span asp-validation-for="Customer.TaxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address.Street" class="control-label"></label>
                <input asp-for="Customer.Address.Street" class="form-control" />
                <span asp-validation-for="Customer.Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address.ZipCode" class="control-label"></label>
                <input asp-for="Customer.Address.ZipCode" class="form-control" />
                <span asp-validation-for="Customer.Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address.City" class="control-label"></label>
                <input asp-for="Customer.Address.City" class="form-control" />
                <span asp-validation-for="Customer.Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address.State" class="control-label"></label>
                <input asp-for="Customer.Address.State" class="form-control" />
                <span asp-validation-for="Customer.Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Email" class="control-label"></label>
                <input asp-for="Customer.Email" class="form-control" />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

<div style="margin-top: 10px">
    <a asp-action="Index" class="btn btn-secondary">Back to list</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var itemIndex = @i - 1;

        function addNewItem() {
            itemIndex++;

            var newItemGroup = `
                                            <div id="itemsContainer">
                                            <div class="item-group row">
                                                <div class="form-group col-md-3">
                                                    <label for="Items[${itemIndex}].Name" class="control-label">Product Name</label>
                                                    <input type="text" name="Items[${itemIndex}].Name" class="form-control" />
                                                </div>
                                                <div class="form-group col-md-3">
                                                     <label for="Items[${itemIndex}].Price" class="control-label">Product Price</label>
                                                     <input type="text" name="Items[${itemIndex}].Price" class="form-control" />
                                                </div>
                                                <div class="form-group col-md-2">
                                                        <label for="Items[${itemIndex}].Quantity" class="control-label">QTY</label>
                                                        <input type="text" name="Items[${itemIndex}].Quantity" class="form-control" />
                                                </div>
                                                <div class="form-group col-md-2">
                                                        <label for="Items[${itemIndex}].Vat" class="control-label">Vat (%)</label>
                                                        <input type="text" name="Items[${itemIndex}].Vat" class="form-control" />
                                                </div>
                                                    <div class="form-group col-md" style="margin-top: 23px">
                                                    <button type="button" class="btn btn-danger" onclick="removeItem(this)">X</button>
                                                </div>
                                            </div>
                                        </div>
                                       `;

            $("#itemsContainer").append(newItemGroup);


        }
        function removeItem(button) {
            $(button).closest('.item-group').remove();
        }

    </script>
}